name: Build bionic.js Swift

on:
  push:
    branches:
      - 'main'
    tags-ignore:
      - 'release/**'

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_and_test:
    strategy:
      matrix:
        destination: [
            'platform=OS X',
            'platform=iOS Simulator,name=iPhone 8,OS=12.4',
            'platform=iOS Simulator,name=iPhone 8,OS=13.7',
            'platform=iOS Simulator,name=iPhone 8,OS=14.4'
        ]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and test
        run: xcodebuild clean build test -workspace Bjs.xcworkspace -scheme Bjs -destination "${destination}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
        env: 
          destination: ${{ matrix.destination }}